body {
    background-image: url(../foto/bg2.png);
    
}
.card-header {
    background-color: #999DA0;
}
.card-body {

}

.card-footer {
    height: 40px;
    background-color: #999DA0;
}