body {
    background-image: url(../foto/bg2.png);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card-kotak {
    width: 500px;
}

.card-header {
    background-color: #999DA0;
    color: white;
}
.card-footer {
    background-color: #999DA0;
    color: white;
}